.person-filter {
    display: flex;
    justify-content: space-around;
}

.filter-option {
    background-color: white;
    color: black;
}

.btn.filter-option:focus {
    background-color: inherit;
}

.btn.filter-option.selected, .btn.filter-option:hover {
    background-color: #eceff1;
    /*#eeeeee;*/
}