<template>
<require from="../person-table/person-table"></require>
<require from="../common/collapsible/collapsible"></require>
<require from="./person-view.css" as="scoped"></require>

<collapsible>
    <li repeat.for="person of persons">
        <div class="collapsible-header person-header">${person.name}</div>
        <div class="collapsible-body person-body">
            <div>Gender: ${person.gender}</div>
            <div>Race: ${person.race}</div>
            <div>Ethnicity: ${person.ethnicity}</div>
            <div>Born: ${person.dateOfBirth.format('MMMM Do, YYYY')}</div>
            <div>Observation Periods: ${ person.observationPeriods.map(toObservationPeriodDisplayValue).join(', ')}</div>
            <div>Observations: ${ person.observations.map(toObservationDisplayValue).join(', ') }</div>
        </div>
    </li>
</collapsible>

</template>